APP_NAME="NODERA BILLING"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_PORT=8080

# Lisensi Resmi NODERA
LICENSE_KEY=NDR-ISP-XXXX-XXXX-XXXX-XXXX

# Database (Otomatis terhubung ke container database)
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=nodera_billing
DB_USERNAME=nodera_user
DB_PASSWORD=change_this_db_password
DB_ROOT_PASSWORD=root_secret_pass

# Cache & Session Driver
CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
REDIS_HOST=redis
REDIS_PORT=6379

# Mail / Telegram Notification
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
